body {
  background-color: #f1f1f1;
}

.game-users-share-buttons-option {
  margin: 0 10px 0 0;
  padding: 15px 0 0;
  background-color: #f1f1f1;
}



/* --------------------------------------------------
   共通
-------------------------------------------------- */

.game-users-share-buttons-option .color-red {
  color: red;
}

.game-users-share-buttons-option .color-blue {
  color: blue;
}

.game-users-share-buttons-option .well {
  font-size: 12px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.game-users-share-buttons-option .form-group-margin {
  margin: 30px 0 0;
}

.game-users-share-buttons-option .inline-margin {
  margin: 0 10px 0 0;
}

.game-users-share-buttons-option .outline-none {
  outline: none;
}

.game-users-share-buttons-option .accordion-box {
  margin: 30px 0 0;
}



/* --------------------------------------------------
   共通 / 水平線
-------------------------------------------------- */

.game-users-share-buttons-option .hr-text {
  line-height: 1em;
  position: relative;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.game-users-share-buttons-option .hr-text: before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.game-users-share-buttons-option .hr-text: after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #fcfcfa;
}

.game-users-share-buttons-option .hr-slash {
  height: 8px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzcHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgMyAzIiBmaWxsPSJoc2xhKDAsIDAlLCA2NSUsIDEuMCkiPjxwb2x5Z29uIHBvaW50cz0iMCwwLjUgMCwxLjUgMS41LDMgMi41LDMiLz48cG9seWdvbiBwb2ludHM9IjIuNSwwIDEuNSwwIDMsMS41IDMsMC41Ii8+PC9zdmc+');
  background-size: 3px 3px;
  width: 100%;
}



/* --------------------------------------------------
   共通 / テーマ一覧
-------------------------------------------------- */

.game-users-share-buttons-option .theme-box {
  display: flex;
  flex-flow: column wrap;
  border-bottom: 1px dashed #bbb;
  padding: 0 0 20px;
  margin: 0 0 30px;
}

.game-users-share-buttons-option .theme-box .menu-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 0 5px;
}

.game-users-share-buttons-option .theme-box .menu-box .name-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 5px;
}

.game-users-share-buttons-option .theme-box .menu-box .name-box .checkbox {
  width: 16px;
}

.game-users-share-buttons-option .theme-box .menu-box .name-box .name {
  font-weight: bold;
  margin: 0 10px 0 5px;
}

.game-users-share-buttons-option .theme-box .menu-box .name-box .author {
  margin: 0 10px 0 5px;
}

.game-users-share-buttons-option .theme-box .file-format {
  margin: 5px 0 5px 5px;
}

.game-users-share-buttons-option .theme-box .website {
  margin: 0 0 5px 5px;
}


.game-users-share-buttons-option .theme-box .menu-box .button-box {
  margin: 0 0 5px;
}

.game-users-share-buttons-option .theme-box .menu-box .button-box .buttons {
  margin: 0 5px 0 0;
}



/* --------------------------------------------------
   コンテンツタブ
-------------------------------------------------- */

.game-users-share-buttons-option .option-content {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 25px 15px 15px;
  background-color: #fff;
}



/* --------------------------------------------------
   トップタブ
-------------------------------------------------- */

.game-users-share-buttons-option .top-share-buttons-margin {
  margin: 20px 0 0;
}

.game-users-share-buttons-option .title-top {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: bold;
}

.game-users-share-buttons-option .title-sub {
  margin: 0 0 10px;
  font-size: 20px;
}

.game-users-share-buttons-option .sns {
  margin: 30px 0 14px;
}

.game-users-share-buttons-option .list-top1 {
  list-style: disc;
  margin: 0 0 0 25px;
}

.game-users-share-buttons-option .list-top1 li {
  margin: 0 0 6px;
}

.game-users-share-buttons-option .list-top2 {
  list-style: circle;
  margin: 0 0 0 25px;
}

.game-users-share-buttons-option .list-top2 li {
  margin: 0 0 6px;
}



/* --------------------------------------------------
   編集タブ
-------------------------------------------------- */

.game-users-share-buttons-option .download-buttons-box {
  margin: 20px 0 10px;
}

.game-users-share-buttons-option .download-button {
  margin: 0 5px 10px;
}

.game-users-share-buttons-option .select-theme-box {
  margin: 10px 0;
}



/* --------------------------------------------------
   編集タブ / 編集フォーム
-------------------------------------------------- */

.game-users-share-buttons-option .edit-theme-form {
  margin: 10px 0;
}

.game-users-share-buttons-option .edit-theme-form .sample-theme-box {
  background-color: #fff;
  z-index: 1000;
}

.game-users-share-buttons-option .edit-theme-form .sample-theme {
  padding: 50px 0 0;
}


.game-users-share-buttons-option .edit-theme-form .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}


.game-users-share-buttons-option .edit-theme-form .theme-type-box {
  margin: 30px 0 0;
}


.game-users-share-buttons-option .edit-theme-form .share-image-type {
  margin: 0 0 10px;
}

.game-users-share-buttons-option .edit-theme-form .share-buttons-option {
  font-size: 16px;
  font-weight: bold;
  margin: 40px 0 10px;
}

.game-users-share-buttons-option .edit-theme-form .share-delete-button {
  margin: 30px 0 40px;
}

.game-users-share-buttons-option .edit-theme-form .submit-button {
  margin: 10px 0 0;
}


.game-users-share-buttons-option .edit-theme-list-box {
  margin: 0;
}



/* --------------------------------------------------
   テーマタブ
-------------------------------------------------- */

.game-users-share-buttons-option .recruitment {
  margin: 20px 0 0;
}

.game-users-share-buttons-option .recruitment h4 {
  font-size: 12px;
}



/* --------------------------------------------------
   プランタブ
-------------------------------------------------- */

.game-users-share-buttons-option .list-plan {
  list-style: disc;
  margin: 30px 0 30px 25px;
}

.game-users-share-buttons-option .list-plan li {
  margin: 0 0 6px;
}
